<h1>All Users</h1>

<% if @users %>
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <% if is_admin? %>
          <th>Delete</th>
        <% end %>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user) %></td>
        <td>
         <%= link_to user_path(user), data: {confirm: "Destroy User?", method: 'delete'}, id: "delete_user_#{user.id}" do %>
           <span class="glyphicon glyphicon-remove-sign red"></span>
         <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
