<h1> <%= @user.email %></h1>

<% if @user.items.any? %>
  <% @user.items.in_groups_of(3, false) do |item_group| %>
    <%= render "items/item_block", item_group: item_group %>
  <% end %>
<% end %>

<% if is_admin? %>
  <%= link_to "Delete User", user_path(@user), data: {confirm: "Destroy User?", method: 'delete'}, class: "btn btn-danger btn-block" %>
<% end %>
<br>
