<h1 class="page-header text-center">
  Welcome to Bit-Bizarre
  <p class="lead">
    The world's foremost bizarre goods storefront
  </p>
</h1>

<h3 class="text-center">Recently Added Items</h3>
<br>
<% if @items.any? %>
  <% @items.most_recent.in_groups_of(3, false) do |item_group| %>
    <%= render "items/item_block", item_group: item_group %>
  <% end %>
<% end %>
