<h1 class="page-header text-center">Your Cart</h1>
<% if current_user.cart.items.length == 0 %>
<h3>No Items Added to Cart</h3>
<% else %>
  <% current_user.cart.items.in_groups_of(3, false) do |item_group| %>
    <%= render "items/item_block", item_group: item_group %>
  <% end %>
<% end %>
<hr>
<h4>
  Total Cost: <%= number_to_currency(current_user.cart.calc_cost, unit: '$') %>
</h4>
<%= render template: "charges/new", item: @item %>
<br>
